<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wallet Watchdog</title>
<<<<<<< HEAD
=======
  <link rel="stylesheet" href="/css/style.css">
>>>>>>> 064302422da4c211b23f3ef6d903b2c415c3c5b3
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
  <div class="gradientbg"></div>
  <main>
    {{{ body }}}
  </main>
  <script src="/js/logout.js"></script>
</body>

</html>