<header>
    <h1>Woof woof!</h1>
    <hr>
    <h2>Welcome, {{ name }}. Here are your personal finances.</h2>
</header>
<section class="overview">
    <h3>Here is an overview of your finances.</h3>
    <img alt="placeholder for graph"> <!-- placeholder for graph -->
    <p>Current monthly finances: ${{ Wallet.current_savings }}</p>
    <p>Has your monthly finance changed? <a>Click here to update.</a></p>
    
</section>

<section class="expenses">
    <header>
        <h3>Monthly Expenses {{ Wallet.total_monthly_expenses }}</h3>
        <button id="addExpenseBtn">+</button>
    </header>
    
    
</section>

<section class="goals">
    <header>
        <h3>goal</h3>
        <button id="setGoalBtn">+</button>
    </header>
    
</section>