<header>
    <h1>Woof woof!</h1>
    <hr>
    <h2>Welcome, {{ name }}. Here are your personal finances.</h2>
</header>
<section class="overview">
    <h3>Here is an overview of your finances.</h3>
    <img alt="placeholder for graph"> <!-- placeholder for graph -->
    <p>Current monthly finances: ${{ Wallet.current_savings }}</p>
    <p>Has your monthly finance changed? <a>Click here to update.</a></p>
    
</section>

<section class="expenses">
    <header>
        <h3>Monthly Expenses {{ Wallet.total_monthly_expenses }}</h3>
        <button id="addExpenseBtn">+</button>
       </header>
    <h3>Add Expense</h3>
     <form class="form expense-form">
      <div class="form-group">
        <label for="source-of-expense">source of expense:</label>
        <input class="form-input" type="text" id="source-of-expense" />
      </div>
      <div class="form-group">
        <label for="dollar-amount">dollar amount:</label>
        <input class="form-input" type="text" id="dollar-amount" />
      </div>
            <div class="form-group">
        <button class="btn btn-primary" type="submit">add expense</button>
      </div>
      </form>
    
</section>

<section class="goals">
    <header>
        <h3>goal</h3>
        <button id="setGoalBtn">+</button>
    </header>
    
</section>

<script src="./js/expense.js"></script>
