<div class="d-flex align-items-center">
<div class="w-100 row justify-content-center">
<div class="col-10 col-lg-7">
  <h1 class="landingh1">Wallet<br>Watchdog</h1>
  <h2 class="landingh2">Monthly finance tracker</h2>
    <!-- PLACEHOLDER IMAGE -->
  <center><img class="staticplacehold" src="/assets/images/wwd_icon_transp.png"></center>
  <p class="landingtext">
    Are you tired of losing track of your expenses? Our expense tracking application allows you to easily input and manage all of your expenses, track your income, and set a target savings goal. Don't let your expenses control you - start using our app today and take control of your financial future!
  </p>
  <a href="/login"><button>Login</button></a>
  <a href="/register"><button class="bottombutton">Register</button></a>
</div>
</div>
</div>

<body>
  <script src="/js/home.js"></script>
</body>