<div class="col-5 px-lg-5">
    <h1>Wallet<br>Watchdog</h1>
    <h2><strong>Monthly finance tracker</strong></h2>
    <button class="login-nav">Login</button>
    <button class="register-nav">Register</button>
</div>

<div class="jumbotron">
  <p>Are you tired of losing track of your expenses and feeling like you're never able to save money? Look no further! Our expense tracking application allows you to easily input and manage all of your expenses, track your income, and set a target savings goal. With customizable budget categories and a sleek interface, you'll be able to take control of your finances and reach your savings goals in no time. Don't let your expenses control you - start using our app today and take control of your financial future!</p>
</div>
<body>
  <script src="/js/home.js"></script>
</body>