<html>
<head>
  <title>Wallet Watchdog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
  
</head>
<body>
  <div class="row justify-content-center">
  <div class="col-5 px-lg-5">
    <h1 class="landingh1">Wallet<br>Watchdog</h1>
    <h2 class="landingh2">Monthly finance tracker</h2>
    <button>Login</button>
    <button>Register</button>
  </div>
</div>
</body>
</html>