body {
  background: linear-gradient(to bottom, #73DBA0, #29BEB7);
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: xxx-large;
}
button {
  border: none;
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  width: 15%;
}

button:first-of-type {
  background-color: white;
  color: #73DBA0;
}

button:last-of-type {
  background-color: #73DBA0;
  color: white;
}