/* GENERAL & UNIVERSAL STYLES */

::selection {
  color: #fff;
  background-color: #29BEB7;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* FONT FAMILIES */

  /* -- IMPORTING FONT-FAMILIES */
  @font-face {
      font-family: 'Lemon Milk';
      src: url(../assets/fonts/LEMONMILK-Regular.otf);
  }
  
  @font-face {
      font-family: 'Lemon Milk Light';
      src: url(../assets/fonts/LEMONMILK-Light.otf);
  }
  
  @font-face {
      font-family: 'Xhers';
      src: url(../media/fonts/Xhers\ Regular.otf);
  }
  
  /* -- FONT-FAMILY CLASSES */
  .xhers {
      font-family: 'Xhers' !important;
  }
  
  .lemon-milk {
      font-family: 'Lemon Milk' !important;
  }
  
  .lemon-milk-light {
      font-family: 'Lemon Milk Light' !important;
  }

/* GENERAL STYLES */

.gradientbg {
  background: linear-gradient(to bottom, #73DBA0, #29BEB7);
  height: 100%;
  background-attachment: fixed;
}

h1 {
  font-family: 'Lemon Milk';
}

h2 {
  font-family: 'Lemon Milk Light';
}

.landingh1 {
  font-size: 70px;
  color: #fff;
  font-family: 'Lemon Milk';
  text-align: left;
  padding-top: 55px;
}

.landingh2 {
  font-size: 20px;
  text-align: left;
  padding-bottom: 45px;
  margin-left: 10px;
  opacity: 65%;
}

.staticplacehold {
  max-height: 190px;
  padding-bottom: 30px;
}

.landingtext {
  font-family: Helvetica;
  text-align: justify;
  font-size: 9px;
  line-height: 16px;
  text-transform: uppercase;
}

button {
  font-family: 'Lemon Milk Light';
  border: none;
  padding: 20px 40px;
  font-size: 15px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  width: 100%;
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
}

button:hover {
  background-color: white;
  color: #29BEB7;
  border: 2px solid #fff;
  transition: 0.5s;
}

.darkbutton {
  background-color: white;
  color: #29BEB7;
  border: 2px solid #29BEB7;
}

.darkbutton:hover {
  background-color: #29BEB7;
  color: #fff;
  border: 2px solid #29BEB7;
  transition: 0.5s;
}

.topbuffer {
  margin-top: 80px;
}

.loginh1 {
  font-size: 40px;
  color: #29BEB7;
  font-family: 'Lemon Milk';
  text-align: center;
  margin-bottom: 25px;
}

.centertextlogin {
  font-family: Helvetica;
  text-align: justify;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1px;
  padding-top: 20px;
}

.loginlink {
  font-weight: bold;
  color:#29BEB7;
}

.loginlink:hover {
  color:#73DBA0;
}

.loginlink:visited {
  color:#29BEB7;
}

.dashh1 {
  text-align: left;
  font-size: 50px;
}

/* DASHBOARD STYLING */

.dashh1 {
  color: #fff;
  font-size: 60px;
}

hr {
  text-align: left;
  width: 85%;
  border: 1px solid #fff;
}

h4 {
  margin-top: 10px;
}

.dashh2 {
  font-family: 'Helvetica';
  text-transform: uppercase;
  color: #fff;
  font-size: 27px;
}

.dashname {
  font-family: 'Lemon Milk';
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}

h3 {
  font-family: 'Lemon Milk Light';
  font-size: 32px;
  color: #29BEB7;
}

.monthlyinctext {
  color: #29BEB7;
  font-weight: bold;
}

.monthlysavtext {
  color: #29BEB7;
  font-weight: bold;
}

.subsmallertext {
  text-align: justify;
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 10px;
}

.pagelink {
  color: #29BEB7;
}

.boxdivider {
  text-align: left;
  width: 45%;
  border: 1px solid #D3D3D3;
}

.commentarytext {
  font-family: 'Helvetica';
  font-size: 16px;
}

.centerfold {
  text-align: center;
  font-family: 'Lemon Milk Regular';
  font-size: 36px;
}

.homebutton {
  position:fixed;
  font-size: 8px;
  top: 60px;
	right: 35px;
	background-color:transparent;
	color:#FFF;
  cursor:pointer;
  padding: 1px 1px;
  height: 55px;
  width: 55px;
}

.homebutton:hover {
 color: #73DBA0;
}

.financesbutton {
  position:fixed;
  font-size: 8px;
  top: 125px;
	right: 35px;
	background-color:transparent;
	color:#FFF;
  cursor:pointer;
  padding: 1px 1px;
  height: 55px;
  width: 55px;
  scroll-behavior: smooth;
}

.expensesbutton {
  position:fixed;
  font-size: 8px;
  top: 190px;
	right: 35px;
	background-color:transparent;
	color:#FFF;
  cursor:pointer;
  padding: 1px 1px;
  height: 55px;
  width: 55px;
  scroll-behavior: smooth;
}

.logoutbutton {
  position:fixed;
  font-size: 8px;
  top: 255px;
	right: 35px;
	background-color:transparent;
	color:#FFF;
  cursor:pointer;
  padding: 1px 1px;
  height: 55px;
  width: 55px;
}


.scroller {
  height: 745px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

.addexp {
  font-size: 12px;
  width: 70%;
}

.addexpback {
  padding: 2px 2px;
  font-size: 30px;
  height: 60px;
  width: 60px;
  left: 265px;
  bottom: 75px;
  position: relative;
  margin-bottom: -55px;
}

.hiddensection {
  display: none;
}

.addExpModal {
  font-family: 'Lemon Milk Light';
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 15px;
  color: #73DBA0;
}