/* GENERAL & UNIVERSAL STYLES */

::selection {
  color: #fff;
  background-color: #29BEB7;
}

/* FONT FAMILIES */

  /* -- IMPORTING FONT-FAMILIES */
  @font-face {
      font-family: 'Lemon Milk';
      src: url(../media/fonts/LEMONMILK-Regular.otf);
  }
  
  @font-face {
      font-family: 'Lemon Milk Light';
      src: url(../media/fonts/LEMONMILK-Light.otf);
  }
  
  @font-face {
      font-family: 'Xhers';
      src: url(../media/fonts/Xhers\ Regular.otf);
  }
  
  /* -- FONT-FAMILY CLASSES */
  .xhers {
      font-family: 'Xhers' !important;
  }
  
  .lemon-milk {
      font-family: 'Lemon Milk' !important;
  }
  
  .lemon-milk-light {
      font-family: 'Lemon Milk Light' !important;
  }

/* GENERAL STYLES */

.gradientbg {
  background: linear-gradient(to bottom, #73DBA0, #29BEB7);
  height: 100%;
  background-attachment: fixed;
}

h1 {
  font-family: 'Lemon Milk';
}

h2 {
  font-family: 'Lemon Milk Light';
}

.landingh1 {
  font-size: 60px;
  color: #fff;
  font-family: 'Lemon Milk';
  text-align: left;
  padding-top: 100px;
}

.landingh2 {
  font-size: 18px;
  text-align: left;
  padding-bottom: 195px;
  margin-left: 10px;
}

/*
body::before {
  content: "";
  position: fixed;
  bottom: -250px;
  right: -300px;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 3px solid #fff;
} */

button {
  font-family: 'Lemon Milk Light';
  border: none;
  padding: 20px 40px;
  font-size: 15px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  width: 90%;
}

button:first-of-type {
  background-color: white;
  color: #73DBA0;
}

button:last-of-type {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
}